body {
    background-color: #1e1e20;
}
.wrapper {
    position: fixed;
    /* transform: translate(0px,0px) scale(1); */
    transform: translate(534px, 256px) rotate(0deg) scale(1);
}
.container_three {
    position: fixed;
    background-color: #1e1e20;
    transform: translate(483px, 207px) scale(1);
    border-radius: 50%;
    box-shadow: -10px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
}

.block_img {
    position: relative;
    transform: translate(-1px, -18px) rotate(180deg) scale(2);
    background-color: #1e1e20;
    border-radius: 50%;
    box-shadow: -5px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
}

.ambrella {
    width: 400px;
    height: 400px;
    background-color: #e70a0a1d;
    border-radius: 50%;
}

.container_one {
    position: fixed;
    height: 400px;
    width: 400px;
    background-color: #1e1e20;
    transform: translate(483px, 207px) scale(1);
    border-radius: 50%;
    box-shadow: -10px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
}

.container_two {
    position: fixed;
    height: 400px;
    width: 400px;
    background-color: #1e1e20;
    transform: translate(483px, 207px) scale(1);
    border-radius: 50%;
    box-shadow: -10px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
}

.block {
    position: relative;
    transform: translate(111px, 38px);
}

.block_one {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ee0303;
    position: relative;
    transform: translate(39px, 12px) rotate(180deg) scale(2);
}

.block_two {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ee0303;
    position: relative;
    transform: translate(39px, 112px) rotate(-360deg) scale(2);
}

.block_three {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ee0303;
    position: relative;
    transform: translate(-60px, -88px) rotate(90deg) scale(2);
}

.block_four {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ee0303;
    position: relative;
    transform: translate(139px, -188px) rotate(-90deg) scale(2);
}

/* ========================================================= */

.container_one {
    animation: move-block 1s .1s infinite ,
        color-block 1s .1s infinite alternate;
    animation-timing-function: linear;
}

@keyframes move-block {
    0% {
        transform: translate(483px, 207px) rotate(0deg) scale(1);
    }

    50% {
        
    }

    100% {
        transform: translate(483px, 207px) rotate(360deg) scale(1);
    }
}

@keyframes color-block {
    0% {
        background-color: #0606f00a;
    }

    100% {
        background-color: #0c0ce312;
    }
}

.container_two {
    animation: move-block 1s .1s infinite reverse,
        color-block 1s .1s infinite alternate;
    animation-timing-function: linear;
}

@keyframes move-block {
    0% {
        transform: translate(483px, 207px) rotate(0deg) scale(1);
    }

    50% {
        
    }

    100% {
        transform: translate(483px, 207px) rotate(360deg) scale(1);
    }
}

@keyframes color-block {
    0% {
        background-color: #0606f03d;
    }

    100% {
        background-color: #0606f00a;
        lighting-color: #0606f00a;
    }
}

.container_three {
    animation: move-block 10s .10s infinite reverse,
        color-block 10s .10s infinite alternate;
        animation-timing-function: linear;
}

@keyframes move-block {
    0% {
        transform: translate(483px, 207px) rotate(0deg) scale(1);
    }

    50% {
        
    }

    100% {
        transform: translate(483px, 207px) rotate(360deg) scale(1);
    }
}

@keyframes color-block {
    0% {
        background-color: #f025063d;
    }

    100% {
        background-color: #0606f00a;
        lighting-color: #0606f00a;
    }
}





/* ===========================58 lesson===================================== */
.wrapper_58 {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    transform: translate(534px, 256px) rotate(0deg) scale(1);
}

.box {
    background: #eb0839b9;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #17077d70;
    font-size: 30px;
    box-shadow: -10px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
}

.box span {
    opacity: 0;
}

.box__scale {
    position: absolute;
    top: -100px;
    left: -300px;
    right: 600px;
    height: 30px;
    background: #f90505;
    box-shadow: -10px 15px 20px 10px #211e477b, 10px -30px 20px 10px #471e1e7b;
    /* ------------------------------------ */
    transition:.6s;
    /* Домашка */
    /* Плавный переход заполения строки к надписи "успех" */
}

.box:hover .box__scale {
    right: -300px;
    }

.box:hover span {
    opacity: 1;
    transition: .1s .6s;
}
